<template>
  <div id="portal-header">
    <PloneLogo />
    <PloneSearchbox />
  </div>
</template>

<script>
import PloneLogo from '../PloneLogo/PloneLogo';
import PloneSearchbox from '../PloneSearchbox/PloneSearchbox';
export default {
  components: {
    PloneLogo,
    PloneSearchbox,
  }
}
</script>

<style>

</style>