<template>
  <a id="portal-logo" :title="logoTitle" href="#">
    <img :src="logo" :alt="siteTitle" :title="siteTitle" />
  </a>
</template>

<script>
import logo from './logo.svg';
export default {
  props: {
    logoTitle: {
      type: String,
      default: 'Logo title'
    },
    siteTitle: {
      type: String,
      default: 'Site title'
    }
  },
  data() {
    return {
      logo: logo
    };
  }
};
</script>

<style></style>
