<template>
  <div>
    <header id="portal-top">
      <PloneHeader />
    </header>
    <main id="main">[MAIN CONTENT]</main>
    <aside>[ASIDE]</aside>
    <footer>[FOOTER]</footer>
  </div>
</template>

<script>
import PloneHeader from '../../components/plone/app/layout/viewlets/PloneHeader/PloneHeader'
export default {
  components: {
    PloneHeader,
  }
};
</script>

<style></style>
